[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
scipy = "*"
statsmodels = "*"
jupyter = "*"
jupytext = "*"
jupyterlab = "*"
sympy = "*"
tqdm = "*"
line-profiler = "*"
memory-profiler = "*"
gpy = "*"
gpyopt = "*"
joblib = "*"
hydra-core = "*"
dill = "*"
json2obj = "*"

[dev-packages]

[requires]
python_version = "3.10"
